.pie-chart-container {
  background-color: #1c1c2b;
  margin: 10px;
  width: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  align-self: flex-start;
  color: #cbd5e1;
}
